.app-title {
    color: white;
}
.sidenav-container {
    height: 100vh;
}
mat-sidenav {
    width: 250px;
}
mat-toolbar {
    display: flex;
    justify-content: space-between;
}
mat-toolbar mat-icon {
    transform: scale(1.5);
}
.mat-list-item:hover {
    background: #E8EAEE;
}
.mat-list-item.active {
    background: #d6d6d6;
}
.icon-display {
    padding-inline: 30px;
    transform: scale(1.5);
}
